@font-face {
    font-family: 'Hard Rock';
    src: url('../fonts/HARD_ROCK.ttf') format(TrueType);
}

@font-face {
    font-family: 'Rocknroll';
    src: url('../fonts/rocknroll_typo_crazy.ttf') format(TrueType);
}

@font-face {
    font-family: 'TheDark';
    src: url('../fonts/TheDark.ttf') format(TrueType);
}

nav.navbar {
    max-width: 50%;
}

a.navbar-brand, ul.navbar-nav, h4.text-white {
    font-family: 'TheDark';
}

body {
    background: linear-gradient(125deg, #ff0000 10%, #000 10%, #000 40%, #ff0000 40%, #ff0000 60%, #000 60%, #000 90%, #ff0000 90%);

}

.card {
    box-shadow: 10px 10px 10px #000000;
    
}

@media screen and (min-width: 540px){
    .card {
        width: 20%;
   
    } 
}